/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
# Ignorer toutes les vidéos lourdes
*.mp4
*.mov
*.mkv
*.avi
*.webm

# ...SAUF la vidéo utilisée sur la page Home :
!resources/assets/videos/fondbkp.mp4

# Dossiers où il pourrait y avoir d'autres vidéos à ignorer
resources/assets/videos/
public/videos/
